<%= form_with(model: [:admin, @reward ]) do |form| %>
  <% if @reward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reward.errors.count, "error") %> prohibited this reward from being saved:</h2>

      <ul>
        <% @reward.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="mb-3">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="field">
  <%= form.label :description %>
  <%= form.text_area :description %>
</div>

<div class="field">
  <%= form.label :price %>
  <%= form.text_area :price %>
</div>

<div class="field">
  <%= form.label :delivery_method %>
  <%= form.select(:delivery_method, options_for_select(Reward.delivery_methods, selected: form.object.delivery_method_before_type_cast)) %>
</div>

<div class="field">
  <%= form.label 'Categories' %>
  <br />
  <%= form.collection_check_boxes :category_ids, Category.all, :id, :title do |b| %>
    <label class="form-check-label">
      <%= b.check_box %>
      <%= b.label %>
    </label><br />
  <% end %>
</div>

<div class="field">
  <%= form.label :photo %>
  <%= form.file_field :photo %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>
