<h1>Manage Rewards</h1>

<%= link_to 'Download all rewards as CSV', export_admin_rewards_path, class: 'btn btn-outline-success btn-sm' %>

<%= form_tag import_admin_rewards_path, multipart: true, class: 'form-inline' do %>
  <div class="form-group">
    <%= file_field_tag :file %>
  </div>
  
  <div class="form-group">
    <%= submit_tag "Import CSV", class: 'btn btn-outline-success btn-sm' %>
  </div>
<% end %>
<table class="table table-striped table-hover">
  <thead class="table-secondary">
    <tr>
      <th>Title</th>
      <th>Slug</th>
      <th class="col-md-8">Description</th>
      <th>Price</th>
      <th>Delivery Method</th>
      <th>Photo</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rewards.each do |reward| %>
      <tr>
        <td><%= reward.title %></td>
        <td><%= reward.slug %></td>
        <td><%= reward.description %></td>
        <td><%= reward.price %></td>
        <td><%= reward.delivery_method %></td>
        <th><% if reward.photo.attached?%> <%= image_tag reward.photo, height: '50px' %> <% end %></th>
        <td>
          <%= link_to 'Edit', edit_admin_reward_path(reward), class: 'btn btn-outline-primary btn-sm' %>
          <%= link_to 'Delete', admin_reward_path(reward), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reward', new_admin_reward_path, class: 'btn btn-success' %>
