<h1>Available Rewards:</h1>

<div class="nav ms-auto w-100">
  <%= link_to 'All', rewards_path, class: 'btn btn-outline-secondary' %>
  <% categories.each do |category| %>
      <%= link_to category.title, rewards_path(category: category.title), class: 'btn btn-outline-secondary' %>
  <% end %>
</div>

<table class="table table-striped table-hover" id="rewards_table">
  <thead class="table-secondary">
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Photo</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% rewards.each do |reward| %>
      <tr data-reward-id="<%= reward.id %>">
        <td><%= reward.title %></td>
        <td><%= reward.price %></td>
        <th><% if reward.photo.attached? %> <%= image_tag reward.photo, width: '80px' %> <% end %></th>
        <td><%= link_to "Buy", orders_path(reward: reward,), method: :post, class: "btn btn-success btn-sm" %><%= link_to 'Show', reward_path(reward), class: 'btn btn-outline-primary btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'pages/pagination', page: page, count_pages: count_pages %>
