<h1>Available Rewards:</h1>

<div class="nav ms-auto w-100">
  <%= link_to 'All', rewards_path, class: 'btn btn-outline-secondary' %>
  <% categories.each do |category| %>
      <%= link_to category.title, rewards_path(category: category.title), class: 'btn btn-outline-secondary' %>
  <% end %>
</div>

<table class="table table-striped table-hover" id="rewards_table">
  <thead class="table-secondary">
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% rewards.each do |reward| %>
      <tr data-reward-id="<%= reward.id %>">
        <td><%= reward.title %></td>
        <td><%= reward.price %></td>
        <td><%= link_to "Buy", orders_path(reward: reward,), method: :post, class: "btn btn-success btn-sm" %><%= link_to 'Show', reward_path(reward), class: 'btn btn-outline-primary btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h5>Page <%= page+1 %></h5>
<div class="d-flex justify-content-left" >
  <ul class="pagination">
    <% (page).times do |x|%>
      <li class="page-item"><%= link_to x+1, rewards_path(page: x, category: params[:category] ), class: "page-link" %></li>
    <% end %>
    <li class="page-item active"><%= link_to page+1, rewards_path(page: page, category: params[:category]), class: "page-link" %></li>
    <% (count_pages-page-1).times do |y|%>
      <li class="page-item"><%= link_to y+2+page, rewards_path(page: y+1+page, category: params[:category]), class: "page-link" %></li>
    <% end %>
  </ul>
</div>
