<h1>All Orders:</h1>

<%= link_to 'Download all orders as CSV', export_admin_orders_path, class: 'btn btn-outline-success btn-sm' %>

<div data-controller="employeeOrders">
  <table class="table table-striped table-hover">
    <thead class="table-secondary">
      <tr>
        <th>Purchuase time</th>
        <th>Placed by</th>
        <td>Type and address</td>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Delivered</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.created_at.strftime("%d-%m-%y %H:%M") %></td>
          <td><%= order.employee.full_name %></td>
          <td><%= order.type_and_address %></td>
          <td><%= order.reward_snapshot.title %></td>
          <td><%= order.reward_snapshot.description %></td>
          <td><%= order.reward_snapshot.price %></td>
          <td><%= t order.delivered.to_s %>
            <% if order.delivered == false %>
              <%= link_to 'Deliver', admin_delivery_path(order), method: :patch, data: { confirm: 'Are you sure? It cannot be undone.' }, class: 'btn btn-outline-danger btn-sm' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
