<%= form_with(model: kudo) do |form| %>
  <% if kudo.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h3><%= pluralize(kudo.errors.count, "error") %> prohibited this kudo from being saved:</h3>

      <ul>
        <% kudo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :content, class: 'form-label' %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label 'Receiver: ', class: 'form-label' %>
    <%= collection_select( :kudo, :receiver_id, Employee.all, :id, :email, {}, {:class => 'form-select'}) %>
  </div>

  <div class="field">
    <%= form.label 'Value: ', class: 'form-label' %>
    <%= collection_select( :kudo, :company_value_id, CompanyValue.all, :id, :title, {}, {:class => 'form-select'}) %>
  </div>
  <br/>
  <div class="actions">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
