<h1>All Kudos:</h1>

<table class="table table-striped table-hover">
  <thead class="table-secondary">
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Giver</th>
      <th>Receiver</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kudos.each do |kudo| %>
      <tr data-kudo-id="<%= kudo.id %>">
        <td><%= kudo.title %></td>
        <td><%= kudo.content %></td>
        <% if kudo.giver.first_name.nil? || kudo.giver.last_name.nil? %>
          <td><%= kudo.giver.email %></td>
        <% else %>
          <td><%= kudo.giver.first_name + " " + kudo.giver.last_name %></td>
        <% end %>
        <% if kudo.receiver.first_name.nil? || kudo.receiver.last_name.nil? %>
          <td><%= kudo.receiver.email %></td>
        <% else %>
          <td><%= kudo.receiver.first_name + " " + kudo.receiver.last_name %></td>
        <% end %>
        <td><%= kudo.receiver.email %></td>
        <td><%= kudo.company_value.title %></td>
        <% if policy(kudo).update? %>
        <td><%= link_to 'Show', kudo, class: 'btn btn-outline-primary btn-sm' %> <%= link_to 'Edit', edit_kudo_path(kudo), class: 'btn btn-outline-primary btn-sm' %> <%= link_to 'Destroy', kudo, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %></td>
        <% else %>
        <td><%= link_to 'Show', kudo, class: 'btn btn-outline-primary btn-sm' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Kudo', new_kudo_path, class: 'btn btn-success' %>
