<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @kudo.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @kudo.content %>
</p>

<p>
  <strong>Giver:</strong>
  <% @kudo.employee_id %>
  <%= @kudo.giver_of_kudo.email %>
</p>

<p>
  <strong>Receiver:</strong>
  <% @kudo.receiver_id %>
  <%= @kudo.receiver_of_kudo.email %>
</p>
<% if @kudo.giver_of_kudo == current_employee  %>
  <%= link_to 'Edit', edit_kudo_path(@kudo) %> |
  <%= link_to 'Destroy', @kudo, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', kudos_path %>
