<%= form_for @order, url: orders_path do |form| %>
  <% if @create_order_service&.errors&.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h3><%= pluralize(@create_order_service.errors.count, "error") %> prohibited this order from being saved:</h3>

      <ul>
        <% @create_order_service.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    Are you sure that you want to buy <%= reward.title %>?
  </div>

    <% if @reward.delivery_method == 'post' %>
      <%= form.fields_for @address do |builder_address| %>
              <div class="field">
                <%= builder_address.label 'Street: ', class: 'form-label' %>
                <%= builder_address.text_field :street, class: 'form-control' %>
              </div>
                <div class="field">
                <%= builder_address.label 'Postcode: ', class: 'form-label' %>
                <%= builder_address.text_field :postcode, class: 'form-control' %>
              </div>
                <div class="field">
                <%= builder_address.label 'City: ', class: 'form-label' %>
                <%= builder_address.text_field :city, class: 'form-control' %>
              </div>
      <% end %>
    <% end %>

      <%= form.hidden_field :reward_id, value: @reward.id %>
  <div class="actions">
    <%= form.submit "Buy", class: 'btn btn-success' %>
  </div>
<% end %>
