<nav class="navbar navbar-dark bg-primary navbar-expand-md bg-faded justify-content-center">
    <div class="container">

        <%= link_to 'Employee Recognition Platform', root_path, class:"navbar-brand d-flex w-50 me-auto" %>

            <ul class="nav navbar-nav ms-auto w-100 justify-content-center">    
            <% if employee_signed_in? %>
                    <span class="nav-link">Received Points: <%= current_employee.points %></span>
                    <span class="nav-link">Available Kudos: <%= current_employee.number_of_available_kudos %></span>
            <% end %>
            </ul>
            <ul class="nav navbar-nav ms-auto w-100 justify-content-end">            
                <li class="nav-item">
                    <%= link_to "Kudos", kudos_path, class:"nav-link"%>
                </li>
                <li class="nav-item">
                    <%= link_to "Rewards", rewards_path, class:"nav-link"%>
                </li>            
                <li class="nav-item">
                    <%= link_to "Orders", orders_path, class:"nav-link"%>
                </li>
                <% if employee_signed_in? %>
                <li class="nav-item">
                    <%= link_to "Edit Profile", edit_employee_registration_path, class:"nav-link"%>
                </li>
                <li class="nav-item">
                   <%= link_to "Log Out", destroy_employee_session_path, method: :delete, class:"nav-link"%>
                </li>
                <% else %>
                <li class="nav-item">
                    <%= link_to "Sign Up", new_employee_registration_path, class:"nav-link"%>
                </li>
                <li class="nav-item">
                    <%= link_to "Log In", new_employee_session_path, class:"nav-link"%>
                </li>
                <% end %>   
                <li class="nav-item">
                    <%= link_to "Admin", admin_root_path, class:"nav-link"%>
                </li>
            </ul>
        </div>
    </div>
</nav>
